### macOS ###
.DS_Store

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Gradle ###
.gradle
build/
out/
!gradle/wrapper/gradle-wrapper.jar

### Credentials ###
credentials.yml

### Static Resources ###
public/
