### macOS ###
.DS_Store

### IntelliJ IDEA ###
*.iml
*.ipr
*.iws
.idea
generated/
generated_tests/
out/

### Gradle ###
!gradle/wrapper/gradle-wrapper.jar
.gradle
build/

### Static Resources ###
node_modules

### Jekyll ###
.bundle
.jekyll-cache
.jekyll-metadata
.sass-cache
_site
Gemfile.lock
